<p id="notice"><%= notice %></p>

<center>
  <div id="page"></div>
  <div id="page_number" style="margin-top:50px;"></div>

    <button onclick="start_words();" style="color: green">Start</button>
  	<button onclick="stop_words();" style="color: red">Stop</button>
  	<br>
  	<br>
  	<button onclick="rewind()">REWIND</button>
  	<button onclick="forward()">FORWARD</button>
</center>
<script type="text/javascript">

var pages = [];
var x = 0;
var reading = true;
var page_num = 0;
var word_num = 0;
var words = [];
var word_count = 0;

<% @upload.pdf_text.split("<page++>").each do |page| %>
	pages[x] = [];
	pages[x] += "<%= page %>"
	x++;
<% end %>

function put_word(word, page_num)
{
  if (word) document.getElementById("page").innerHTML = word;
  if (word) document.getElementById("page_number").innerHTML = page_num;
}

function stop_words()
{
	reading = false;
}
function start_words()
{
	reading = true;
}

function rewind()
{
	if (word_num > 0)
	{
		word_num--;
	}
	if (word_num <= 0)
	{
		if (page_num > 0)
		{
			page_num--;
			word_num = pages[page_num].split(" ").length;
		}
	}
}

function forward()
{
	if (page_num > pages.length)
	{
		return (-1);
	}
	if (word_num < word_count)
	{
		word_num++;
	}
	if (word_num >= word_count)
	{
		page_num++;
		word_num = 0;
		words = pages[page_num].split(" ");
		word_count = words.length;
	}
}

window.requestAnimFrame = (function(){
    return  window.requestAnimationFrame || 
    window.webkitRequestAnimationFrame   || 
    window.mozRequestAnimationFrame      || 
    window.oRequestAnimationFrame        || 
    window.msRequestAnimationFrame       || 
    function(callback, element){
        window.setTimeout(function(){
            callback(+new Date);
        }, 1000 / 60);
    };
})();

(function(window, document){

   
    var lastRun = null;

    words = pages[page_num].split(" ");
    word_count = words.length;

    function gameLoop(){


    	if (reading == false) requestAnimFrame(gameLoop);
        if(!lastRun)
        {
            lastRun = new Date().getTime();
            requestAnimFrame(gameLoop);
            return;
        }
        var delta = (new Date().getTime() - lastRun)/1000;
        lastRun = new Date().getTime();
        fps = 1/delta;

        if(word_num > word_count)
        {
          page_num++;
          words = pages[page_num].split(" ");
          word_count = words.length;
          word_num = 0;
        }
        if(page_num > pages.length)
        {
          reading = false
        }
        else
        {	
          put_word(words[word_num], page_num);
          if (reading == false) word_num += 0;
          else word_num++;
         
        }
        var counter = 0

        // while (counter < 10000000) counter++;
        if (reading) requestAnimFrame(gameLoop);

    }

    gameLoop();

}(this, this.document))

</script>
<br>
<br>

<p>
  <strong>Title:</strong>
  <%= @upload.title %>
</p>
<p>
  <strong>Pdf:</strong>
  <%= @upload.pdf_id %>
</p>

<p>
  <strong>Pdf file:</strong>
  <%= @upload.pdf_file %>
</p>

<p>
  <strong>Pdf text:</strong>
  <%= @upload.pdf_text %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
